.all{
    color: #EE9B00;
    margin-left: 2rem;
    margin-right: 2rem;
}
.alignHomeButton{
    display: flex;
    justify-content:flex-start;
    margin-top:1rem;
    margin-left:10rem;
}
.homeButton{
    height:2.5rem;
    width:2.5rem;
    border-radius: 100px;

    color:white;
    background-color: #EE9B00;
    font-size:1rem;
    font-weight:900;
}
.homeButton:hover{
    color:#023047;
    border-color:#023047;
    background-color: #EE9B00;
}

.image{
    height:20rem;
    border-radius:10px; 
}

.alignRating{
    display:flex;
    justify-content:flex-start;
    margin-left:25rem;
}
.alignReleased{
    display:flex;
    justify-content:flex-start;
    margin-left:25rem;
}

.alignGenre{
    display:flex;
    justify-content:flex-start;
    margin-left:25rem;
}

.alignPlatforms{
    display:flex;
    justify-content:flex-start;
    margin-left:25rem;
}

.description{
    background-color:#023047;
    border-radius:10px;
    font-size: large;
    font-weight:600;
    padding: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.unorderList{
    display: flex;
    flex-direction: row;
    justify-content:center;
}

.item{
    margin-left: 2rem;
    list-style: none;
}